<div class="container">
	<div class="row">
		<div class="col-md-8 text-center">
			<h1>Hanoi University of Science and Technology</h1>
			<h3>School of Information Communication and Technology</h3>				
		</div>
		<div class="col-md-4 text-left">
			<h2>student : Tuyen-ng</h2>
			<p>Show collection in mongodb</p>			
		</div>
	</div>
	<div class="well"><p class="text-center text-danger h4">Collection in mongo</p></div>
	<div class="row" ng-controller="ShowCollection">
		<div ng-repeat="(dbs, cols) in data">		
			<!-- Database -->
			<div class="col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<div class="panel-title">{{dbs}}</div>
					</div>
					<div class="panel-body">
						<!-- Collection -->
						<div ng-repeat="col in cols">
							<button class="btn btn-default" ng-click="loadDocument('{{dbs}}', '{{col}}')" data-toggle="collapse" data-target="#{{dbs}}{{$index}}">{{col}}</button>
							<!-- Document -->
							<div class="collapse table-responsive" id="{{dbs}}{{$index}}">
								<table class="table table-hover" ng-repeat="document in info">
									<tr ng-repeat="(key, value) in document">
										<td class="info">{{$index}}</td>
										<td class="danger">{{key}}</td>
										<td class="warning">{{value}}</td>
									</tr>
								</table>
							</div>
							<!-- /Document -->
						</div>
						<!-- /Collection -->
					</div>
				</div>
			</div>
			<!-- /Database -->
		</div>		
	</div>
</div>